// color
$backGreoundColor : #fffdf9;
$bascColor : #152348;
$borderColor : solid 1px black;
$linkColor : #fff;
//mixin flex
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-colom {
    display: flex;
    flex-direction: column;
}
@mixin all-border {
    border-top: $borderColor;
    border-left: $borderColor;
    border-right: $borderColor;
    border-bottom: $borderColor;
}
